<% if ! @lists.empty? %>
<a name="list_top"></a>

<div class="main">
	<% @lists.each{|list| %>
		<div class="list_content">
			<pre class="list_content"><%= auto_link( html_escape( list.str ), :html => { :target => "_blank" } ) %></pre>
			
			<div class="list_content_footer">
				<div class="list_update"><%= link_to "U", { :controller => "lists", :action => "update", :id => list.id }, { :class => "button button_small list_update" } %></div>
				<div class="list_delete"><%= link_to "X", { :controller => "lists", :action => "delete", :id => list.id }, { :class => "button button_small list_delete", :data => { :confirm => "Sure you want to delete?" } } %></div>
			</div>
		</div>
	<% } %>
</div>

<a name="list_bottom"></a>
<% end %>
