<div class="footer_dummy"></div>

<div class="footer">
	<div class="move_top"><a class="button move_top" href="#top">↑</a></div>
	<div class="move_bottom"><a class="button move_bottom" href="#bottom">↓</a></div>
	
	<% if ! @page.nil? %>
	<div class="page"><%= paginate @page %></div>
	<% end %>
</div>
