<div class="footer_dummy"></div>

<div class="footer">
	<div class="list_move_top"><a class="button list_move_top" href="#list_top">↑</a></div>
	<div class="list_move_bottom"><a class="button list_move_bottom" href="#list_bottom">↓</a></div>
	
	<% if ! @page.nil? %>
	<div class="page"><%= paginate @page %></div>
	<% end %>
</div>
